.App{
	text-align: center;
	font-size: 35px;
	margin:18%;
	font-family: helvetica;
}

.Class-title{
	font-size: 50px;
}

.Clock-days, .Clock-hrs, .Clock-mins, .Clock-secs{
	display: inline;
	margin: 10px;
}

.deadline-input{
	/*font-size: 25px;*/	
	margin: 5px;
}
